@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply bg-slate-200 p-2 m-2;
}

button:hover {
  @apply bg-slate-300;
}

a {
  @apply underline;
}

a:hover {
  @apply no-underline;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-bold;
}

h3 {
  @apply text-lg font-bold;
}

textarea {
  @apply border-2 border-slate-400 p-2;
}

.block {
  @apply border-2 p-6;
}
.meta-tag {
  @apply bg-slate-300 border-2;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }